<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Control de Audio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script>
        function playAudio(audioName) {
            fetch(`/play/${audioName}`, { method: 'POST' })
                .then(response => response.json())
                .then(data => console.log(data));
        }

        function stopAudio() {
            fetch('/stop', { method: 'POST' })
                .then(response => response.json())
                .then(data => console.log(data));
        }
    </script>
</head>
<body>
    <h1>Control de Audio</h1>
    <button onclick="playAudio('audio1')">Reproducir Audio 1</button>
    <button onclick="playAudio('audio2')">Reproducir Audio 2</button>
    <button class="stop" onclick="stopAudio()">Detener</button>
</body>
</html>
